*{
    margin: 0px;
}
body {
    background-color: #333;
}

.conteudo_geral {
    background-color: #1d1c1c;
    width: 75vw;
    height: 50vh;
    margin: 0 auto;
}

header {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #111111d3;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 50vh;
    margin: 0 auto;
    box-shadow: 2px 3px 15px 1px rgba(0, 0, 0, 0.8);
    
}

.titulo_principal {
    color: whitesmoke;
}

.titulo_quantos_dias {
    color: white;
    text-align: center;
    margin: 20px;
}

button {
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 30px;
}

.botoes_adicionar {
    
    padding: 10px 20px;
}

.botoes_salvar_carregar {
    
    padding: 10px 20px;
}